<script type="text/ng-template" id="detailcli.html">
    <form class="form-horizontal" role="form" name="myForm">
        <div class="control-group" ng-class="{error: myForm.nombre.$invalid}">
            <label class="control-label">Nombre</label>
            <input class="form-control" type="text" name="nombre" ng-model="project.nombre" required>
            <span ng-show="myForm.nombre.$error.required" class="text-danger">Requerido</span>
        </div>

        <div class="control-group" ng-class="{error: myForm.apellido.$invalid}">
            <label class="control-label">Apellido</label>
            <input class="form-control" type="text" name="apellido" ng-model="project.apellido" required>
            <span ng-show="myForm.apellido.$error.required" class="text-danger">Requerido</span>
        </div>

        <div class="control-group">
            <label class="control-label">NIT</label>
            <input class="form-control" type="text" name="nit" ng-model="project.nit">
        </div>
        
        <div class="control-group">
            <label class="control-label">Dirección</label>
            <input class="form-control" type="text" name="direccion" ng-model="project.direccion">
        </div>
        
        <div class="control-group">
            <label class="control-label">Teléfono</label>
            <input class="form-control" type="text" name="telefono" ng-model="project.telefono">
        </div>

        <br>
        <a href="#/clientes" class="btn btn-warning">Cancelar</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">Guardar</button>
        <button ng-click="destroy()"
                ng-show="project.id" class="btn btn-danger">Borrar</button>
    </form>
</script>