<script type="text/ng-template" id="listprod.html">
    <input type="text" ng-model="search" class="search-query" placeholder="Buscar">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Costo</th>
                <th>Precio</th>
                <th>Existencias</th>
                <th>Categoría</th>
                <th><a href="#/newprod"><i class="glyphicon glyphicon-plus tooltips"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects | filter:search | orderBy:'nombre'" ng-show="project.id">
                <td>{[{project.codigo}]}</td>
                <td>{[{project.nombre}]}</td>
                <td>{[{project.costo}]}</td>
                <td>{[{project.precio}]}</td>
                <td>{[{project.existencias}]}</td>
                <td>{[{project.idcategoria.nombre}]}</td>
                <td>
                    <a href="#/editprod/{[{project.id}]}"><i class="glyphicon glyphicon-pencil tooltips"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</script>