{% extends 'CSPBaseBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block menu %}
{% endblock %}

{% block carousel %}
{% endblock %}
{% block carousel1 %}
{% endblock %}
{% block carousel2 %}
{% endblock %}
{% block carousel3 %}
{% endblock %}

{% block tripleta1 %}
{% endblock %}
{% block tripleta2 %}
{% endblock %}
{% block tripleta3 %}
{% endblock %}

{% block featurettes1 %}
{% endblock %}
{% block featurettes2 %}
{% endblock %}
{% block featurettes3 %}
{% endblock %}

{% block page %}
    <div class="jumbotron" style="background-color:transparent;">
        <span class="hidden-xs">
            <p><img class="img-responsive img-rounded" align="right" src="{{ asset('bundles/cspbase/images/docs.jpg') }}" width=25%></p>
        </span>
        <h1>¡Bienvenido!</h1>
        <p class="lead" text-align="justify">Este sitio es para un proyecto base de productos genéricos.</p>
        <span class="hidden-xs">
            <p><img class="img-responsive img-rounded" align="left" src="{{ asset('bundles/cspbase/images/digidocs.jpg') }}" width=25%></p>
        </span>
        <span class="visible-xs">
            <p><img class="img-responsive img-rounded" src="{{ asset('bundles/cspbase/images/digidocs.jpg') }}" width=60%></p>
        </span>
    </div>
{% endblock %}