{% extends 'CSPBaseBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block menu %}
{% endblock %}

{% block carousel %}
{% endblock %}
{% block carousel1 %}
{% endblock %}
{% block carousel2 %}
{% endblock %}
{% block carousel3 %}
{% endblock %}

{% block tripleta1 %}
{% endblock %}
{% block tripleta2 %}
{% endblock %}
{% block tripleta3 %}
{% endblock %}

{% block featurettes1 %}
{% endblock %}
{% block featurettes2 %}
{% endblock %}
{% block featurettes3 %}
{% endblock %}

{% block page %}
    <div class="jumbotron" style="background-color:transparent;">
        <h1>¡Bienvenido!</h1>
        <p class="lead" text-align="justify">Proyecto de Análisis y Desarrollo de Sistemas - Privados 2014</p>
    </div>
{% endblock %}